astroid==2.3.3
certifi==2022.12.7
colorama==0.4.3
cycler==0.10.0
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
mpl-finance==0.10.0
numpy==1.18.1
pip==19.3.1
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
setuptools==44.0.0.post20200106
six==1.14.0
typed-ast==1.4.1
wheel==0.33.6
wincertstore==0.2
wrapt==1.11.2
